/* --lightShades: #ffff;
--lightAccent: #85756e;
--main: #005180;
--darkAccent: #6e6b7e;
--darkShades: #1f1f1f; */

.cv--container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "header header"
    "left right";
  height: 297mm;
  width: 210mm;
  max-height: 297mm;
  max-width: 210mm;
  color: #1f1f1f;
  box-shadow: 2px 2px 10px 1px rgba(26, 26, 26, 0.473);
  font-family: "Nunito", sans-serif;
  font-size: 4.25mm;
  overflow: hidden;
  background-color: white;
}

/* Header */

.cv--header-container {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 0.5mm #005180;
  margin-inline: 0.4cm;
}
.cv--header {
  display: flex;
  background-color: white;
  color: rgb(20, 20, 20);
  margin: 0.4cm;
  padding: 0.4cm;
  justify-content: center;
  align-items: center;
}

.cv--photo-container {
  position: relative;
  width: 5cm;
  height: 5cm;
  overflow: hidden;
  border-radius: 50%;
  margin: 0.4cm;
}

.cv--image {
  position: relative;
  bottom: 2rem;
  width: 100%;
  height: auto;
}

.cv--firstname {
  display: flex;
  gap: 4mm;
  font-size: 1.3cm;
  letter-spacing: 0.5mm;
  font-weight: lighter;
  color: #005180;
}

.cv--lastname {
  font-weight: bold;
  text-transform: uppercase;
}

.cv--job-title {
  text-align: center;
  grid-area: name;
  letter-spacing: 1mm;
}

/* Aside */

.cv--aside {
  grid-area: left;
  background-color: white;
  margin-block: 0.4cm;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2cm;
  padding: 0.4cm;
  border-right: solid 0.5mm #005180;
  height: 100%;
}

.cv--skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25cm;
  color: white;
}

.cv--skill {
  list-style: none;
  background-color: #005180;
  border-radius: 1mm;
  padding-inline: 2mm;
  padding-block: 1mm;
}

.cv--education-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.cv--main-section {
  grid-area: right;
  background-color: white;
}

.cv--hobbies-container {
  text-align: justify;
}

.cv--list {
  list-style: none;
}

.cv--list::before {
  content: "■";
  padding-right: 0.2cm;
}

section {
  display: flex;
  flex-direction: column;

  height: 100%;
  gap: 1cm;
  padding: 0.75cm;
}

.cv--description {
  font-style: italic;
  line-height: 0.6cm;
  max-width: 13cm;
  overflow-wrap: break-word;
  color: #1f1f1f;
  margin-bottom: 1cm;
}

.cv--personal-details-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2mm;
}

.cv--personal-details {
  display: flex;
  align-items: center;
  justify-self: last baseline;
  gap: 2mm;
}

.cv--personal-details,
.cv--personal-details > .cv--title {
  color: #1f1f1f;
}

.cv--title {
  color: #005180;
  padding: 5px;
  font-size: 6mm;
  margin-bottom: 0.5cm;
  letter-spacing: 1px;
  border-radius: 2px;
}

.cv--title:before {
  content: "";
  background-color: #005180;
  position: relative;
  top: 0;
  right: 1mm;
  padding-right: 1mm;
  margin-right: 1mm;
  border-radius: 1cm;
}

.cv--project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5cm;
  text-align: justify;
}

.cv--project {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

.cv--project-name {
  font-size: 5mm;
  font-weight: bold;
}

.cv--project-tech {
  font-size: 4mm;
  font-weight: bold;
  margin-left: 0.5cm;
}

.cv--project-features {
  font-size: 3.75mm;
  /*   list-style: inside; <= souci avec l'export*/
  margin-left: 8.5mm;
}

.cv--career-container {
  display: flex;
  flex-direction: column;
  gap: 1cm;
}

.cv--career {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

.cv--career-bis {
  display: flex;
}

.cv--education {
  display: flex;
}

.cv--dates {
  font-weight: bold;
  width: 3.5cm;
}

.cv--career-location p:nth-of-type(1) {
  font-weight: bold;
}

.cv--career-location {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

.cv--education-location p:nth-of-type(1) {
  font-weight: bold;
}

.cv--education-location {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

a {
  color: 005180;
  text-underline-offset: 0.5mm;
  text-decoration: none;
}
