.cv--container {
  display: grid;
  grid-template-areas:
    "left header"
    "left right";
  height: 297mm;
  width: 210mm;
  max-height: 297mm;
  max-width: 210mm;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 8fr;
  color: var(--darkShades);
  box-shadow: 2px 2px 10px 1px rgba(26, 26, 26, 0.473);
  font-family: "Nunito", sans-serif;
  font-size: 4mm;
}

.cv--header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  color: white;
  padding: 3.7cm 0.5cm;
  color: rgb(20, 20, 20);
  overflow: hidden;
}

.cv--firstname-lastname {
  display: flex;
  gap: 5mm;
  font-size: 1cm;
  text-transform: uppercase;
  letter-spacing: 0.5mm;
}

.cv--firstname {
  font-weight: lighter;
}

.cv--lastname {
  font-weight: bolder;
}

.cv--job-title {
  letter-spacing: 1mm;
}

.cv--aside {
  grid-area: left;
  background-color: rgb(20, 20, 20);
}

aside {
  display: flex;
  flex-direction: column;
  margin: 0.4cm;
}

.cv--photo-container {
  min-width: 4.5cm;
  min-height: 6.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5mm;
}

.cv--image {
  max-width: 4.5cm;
  max-height: 6.5cm;
  border-radius: 1mm;
}

.cv--personal-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5cm;
  margin-bottom: 0.4cm;
}

.cv--skill-container {
  display: flex;
  flex-direction: column;
  gap: 0.25cm;
  color: white;
}

.cv--skill {
  list-style: none;
}

.cv--education-container {
  display: flex;
  flex-direction: column;
  color: white;
}

.cv--personal-details,
.cv--personal-details > .cv--title {
  line-height: 0.6cm;
  color: white;
}

.cv--main-section {
  grid-area: right;
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5cm;
  padding-inline: 0.5cm;
}

.cv--description {
  font-style: italic;
  line-height: 0.6cm;
  max-width: 13cm;
  overflow-wrap: break-word;
  color: white;
  margin-bottom: 1cm;
}

.cv--title {
  background-color: darkslategrey;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 4mm;
  margin-bottom: 0.5cm;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
}

.cv--project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5cm;
}

.cv--project {
  display: flex;
  flex-direction: column;
}

.cv--project-name {
  font-size: 5mm;
  font-weight: bold;
}

.cv--project-tech {
  font-size: 4mm;
  font-weight: bold;
}

.cv--project-features {
  font-size: 4mm;
  list-style: inside;
}

.cv--career-container {
  display: flex;
  flex-direction: column;
  gap: 0.5cm;
}

.cv--career {
  display: flex;
}

.cv--career-dates {
  font-weight: bold;
  width: 3.5cm;
}

.cv--career-location p:nth-of-type(1) {
  font-weight: bold;
}

.cv--career-location {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

@media print {
  main {
    width: 210mm;
    height: 297mm;
  }
}
