@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  background-color: rgb(114, 114, 114);
  padding: 2.5rem;
}

.title--header {
  color: white;
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
