@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  background-color: var(--main);
  padding: 2.5rem;
}

.title--header {
  color: var(--lightShades);
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .title--header {
    margin: 0;
    text-align: center;
  }
}
