@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");

#root {
  --lightShades: #ffff;
  --lightAccent: #85756e;
  --main: #005180;
  --darkAccent: #6e6b7e;
  --darkShades: #1f1f1f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.global-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--darkShades);
  padding: 2rem;
}

@media screen and (max-width: 1440px) {
  .global-container {
    flex-direction: column;
    align-items: center;
  }
}
